<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row col-12 mt-5">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3413.013300690681!2d29.90350891115706!3d31.192644563153685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c394ebd03ec1%3A0x16cbff5d844ff34b!2sInformation%20Technology%20Institute!5e0!3m2!1sen!2seg!4v1713631566466!5m2!1sen!2seg"
          class="map map1"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="row col-12 mt-4">
        <h5 i18n><strong>GET IN Touch</strong></h5>
        <p i18n>
          Please enter the details of your requesst. A member of our support
          staff will respond as soon as possible.
        </p>
      </div>
      <div class="row col-12 d-flex justify-content-between">
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 d-flex">
          <div class="col-12 mb-5">
            <!-- FORM -->
            <!-- FORM -->
            <!-- FORM -->
            <form [formGroup]="ContactUs" class="form">
              <div class="col-12 d-flex flex-column mt-3 mb-3 flex-md-row">
                <div class="col-6 mt-3 mb-3 px-1">
                  <div class="col-6 w-100">
                    <input
                      i18n
                      type="text"
                      formControlName="name"
                      name="name"
                      class="form-control"
                      id="exampleInputText1"
                      i18n-placeholder
                      placeholder="YOUR NAME"
                      style="font-weight: bold"
                    />
                  </div>
                  <!--  username validation -->
                  <div
                    class="form-text text-danger"
                    *ngIf="name.errors?.['required'] && (name.touched || name.dirty)"
                  >
                    <p i18n><strong>Username is Required</strong></p>
                  </div>
                  <div
                    class="form-text text-danger"
                    *ngIf="name.errors?.['minlength'] && (name.touched || name.dirty)"
                  >
                    <p i18n>
                      <strong
                        >Username must be at least 3 characters long</strong
                      >
                    </p>
                  </div>
                  <div
                    class="form-text text-danger"
                    *ngIf="name.errors?.['maxlength'] && (name.touched || name.dirty)"
                  >
                    <p i18n>
                      <strong>Username cannot exceed 50 characters</strong>
                    </p>
                  </div>
                  <!-- end username valiadtion -->
                </div>
                <div class="col-6 w-100">
                  <div class="col-6 mt-3 flex-md-row">
                    <input
                      i18n
                      type="email"
                      formControlName="email"
                      name="email"
                      class="form-control fs"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      i18n-placeholder
                      placeholder="YOUR EMAIL"
                      style="font-weight: bold"
                    />
                  </div>
                  <!-- email valiadtion -->
                  <div
                    class="form-text text-danger"
                    *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)"
                  >
                    <p i18n><strong>Email is Required</strong></p>
                  </div>
                  <div
                    class="form-text text-danger"
                    *ngIf="Email.errors?.['pattern'] && (Email.touched || Email.dirty)"
                  >
                    <p i18n><strong>the pattern should be email</strong></p>
                  </div>
                  <!-- end email valiadtion -->
                </div>
              </div>
              <div class="col-12 mb-3">
                <input
                  i18n
                  type="text"
                  formControlName="phonenumber"
                  name="phonenumber"
                  class="form-control"
                  id="exampleInputPhonenumber1"
                  i18n-placeholder
                  placeholder="PHONE NUMBER"
                  style="font-weight: bold"
                />
              </div>
              <!-- phonenumber valiadtion -->
              <div
                class="form-text text-danger"
                *ngIf="phonenumber.errors?.['required'] && (phonenumber.touched || phonenumber.dirty)"
              >
                <p i18n><strong>phonenumber is Required</strong></p>
              </div>
              <div
                class="form-text text-danger"
                *ngIf="phonenumber.errors?.['pattern'] && (phonenumber.touched || phonenumber.dirty)"
              >
                <p i18n>
                  <strong>the phonenumber should be 11 digits Numbers </strong>
                </p>
              </div>
              <!-- end phonenumber valiadtion -->
              <div class="col-12 mb-3">
                <textarea
                  i18n
                  class="form-control"
                  formControlName="description"
                  name="description"
                  id="exampleFormControlTextarea1"
                  rows="6"
                  i18n-placeholder
                  placeholder="YOUR MESSAGE"
                  style="font-weight: bold"
                ></textarea>
              </div>
              <!--  description validation -->
              <div
                class="form-text text-danger"
                *ngIf="description.errors?.['required'] && (description.touched || description.dirty)"
              >
                <p i18n><strong>description is Required</strong></p>
              </div>
              <div
                class="form-text text-danger"
                *ngIf="description.errors?.['minlength'] && (description.touched || description.dirty)"
              >
                <p i18n>
                  <strong
                    >description must be at least 10 characters long</strong
                  >
                </p>
              </div>
              <div
                class="form-text text-danger"
                *ngIf="description.errors?.['maxlength'] && (description.touched || description.dirty)"
              >
                <p i18n>
                  <strong>description cannot exceed 100 characters</strong>
                </p>
              </div>
              <!-- end description valiadtion -->
              <button
                i18n
                type="submit"
                (click)="getdata()"
                class="btn btn1 w-25 btn2"
                style="background-color: #e7e8eb"
                [disabled]="ContactUs.invalid"
              >
                SUBMIT NOW
              </button>
            </form>
            <!-- FORM -->
            <!-- FORM -->
            <!-- FORM -->
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div>
            <p i18n>
              <strong>Address:</strong> 123 Suspendis matti, Visaosang Building
              VST District, NY Accums, North American
            </p>
            <p i18n class="mt-4 mb-1">
              <strong>Email:</strong> supportdomain.com
            </p>
            <p i18n class="mb-4"><strong>Call Us:</strong> (012)-345-67890</p>
            <p i18n>
              <strong>Opening time:</strong> Our store has re-opened for
              shopping, exchanges every day
              <strong>11am to 7pm</strong>
            </p>
            <div class="d-flex mt-5">
              <button class="bg-color mx-1 box">
                <i class="fa-brands fa-facebook-f white"></i>
              </button>
              <button class="bg-color mx-1 box">
                <i class="fa-brands fa-pinterest-p white"></i>
              </button>
              <button class="bg-color mx-1 box">
                <i class="fa-brands fa-instagram white"></i>
              </button>
              <button class="bg-color mx-1 box">
                <i class="fa-brands fa-twitter white"></i>
              </button>
              <button class="bg-color mx-1 box">
                <i class="fa-brands fa-tiktok white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        aria-live="polite"
        aria-atomic="true"
        class="toast-container d-flex justify-content-center align-items-center"
        id="toastContainer"
      >
        <div
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          id="passwordToast"
        >
          <div class="toast-header bg-danger text-white">
            <p i18n class="mr-auto text-center confirmation-message">Contactus</p>
          </div>
          <div class="d-flex flex-row toast-body">
            <p class="message" i18n>
              Thank you for your Coperation Email has been Send to the Support
              team
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
