<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row col-12 d-flex">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3413.013300690681!2d29.90350891115706!3d31.192644563153685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c394ebd03ec1%3A0x16cbff5d844ff34b!2sInformation%20Technology%20Institute!5e0!3m2!1sen!2seg!4v1713631566466!5m2!1sen!2seg"
                    class="map" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h5><strong>GET IN Touch</strong></h5>
                <p>Please enter the details of your requesst. A member of our support staff will respond as soon as
                    possible.</p>
            </div>
            <div class="row col-12 d-flex justify-content-between">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 d-flex">
                    <div class="col-12">
                        <form>
                            <div class="col-12 d-flex flex-column mt-3 mb-3 flex-md-row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex mb-3 px-1">
                                    <input type="text" class="form-control" id="exampleInputText1"
                                        placeholder="YOUR NAME">
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <input type="email" class="form-control fs" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="YOUR EMAIL">
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <input type="number" class="form-control" id="exampleInputPhonenumber1"
                                    placeholder="PHONE NUMBER">
                            </div>
                            <div class="col-12 mb-4">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                                    placeholder="YOUR MESSAGE"></textarea>
                            </div>
                            <button type="submit" class="btn btn1 w-25 btn2" style="background-color: #E7E8EB;">SUBMIT
                                NOW</button>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 ">
                    <div>
                        <p><strong>Address:</strong> 123 Suspendis matti, Visaosang Building VST District, NY Accums,
                            North American</p>
                        <!-- there is @ in email but it gives error dono why -->
                        <!-- there is @ in email but it gives error dono why -->
                        <!-- there is @ in email but it gives error dono why -->
                        <p class="mt-4 mb-1"><strong>Email:</strong> supportdomain.com</p>
                        <p class="mb-4"><strong>Call Us:</strong> (012)-345-67890</p>
                        <p><strong>Opening time:</strong> Our store has re-opened for shopping, exchanges every day
                            <strong>11am to 7pm</strong>
                        </p>
                        <div class="d-flex mt-5">
                            <button class="bg-color mx-1 box"><i class="fa-brands fa-facebook-f white"></i></button>
                            <button class="bg-color mx-1 box"><i class="fa-brands fa-pinterest-p white"></i></button>
                            <button class="bg-color mx-1 box"><i class="fa-brands fa-instagram white"></i></button>
                            <button class="bg-color mx-1 box"><i class="fa-brands fa-twitter white"></i></button>
                            <button class="bg-color mx-1 box"><i class="fa-brands fa-tiktok white"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>