.btn1:hover {
    background-color: black !important;
    color: white !important;
}

.bg-color {
    background-color: #52271F !important;
}

.white {
    color: white !important;
}

.box {
    border-radius: 4px !important;
    width: 30px !important;
}

.btn2 {
    border-radius: 2px !important;
}

.map {
    border: 0 !important;
    margin-bottom: 70px !important;
    border-radius: 40px !important;
    height: 450px !important;
}