.item_contaienr {
  width: 49%;
  margin-bottom: 1em;
}
.item_contaienr p {
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 0.8rem;
}


@media only screen and (min-width: 767px)  {
  .row_container {
    flex-direction: row!important;
    align-items: center;
  }
  .column_container {
    flex-direction: column;
  }
  .item_contaienr {
    margin: 1.5em 10px;
    margin-bottom: 0.2em;
    display: flex;
    width: 100%;
  }
  .item_contaienr div:first-child {
    width: 40px;
    margin-right: 1.2em;
  }
  .item_contaienr img {
    width: 100%;
  }
  .item_contaienr p {
    width: 150px;
    text-align: left;
  }
  .left_items {
    justify-content: flex-end;
  }
}

