<!-- Footer -->
<footer class="bg-black text-white">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Form -->
      <div class="mt-4 text-center">
        <!--Grid row-->
        <div class="row justify-content-center">
          <!--Grid column-->
          <div class="mt-5">
            <p class="fw-bold">NEWSLETTER</p>
            <p>
              Get 15% off your first purchaxse! Plus, be the first to know about
              sales new product launches and exclusive offers!
            </p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div
            class="col-md-5 col-12 d-flex justify-content-center mt-3 footer-input"
          >
            <!-- Email input -->
            <!-- Input group -->
            <div class="input-group postition-relative">
              <input
                type="text"
                class="form-control rounded-pill"
                placeholder="Your Email Address"
                aria-label="Example input"
                aria-describedby="button-addon1"
              />
              <button
                class="rounded-pill text-white position-absolute subscribe-button"
                type="button"
              >
                Subscribe
              </button>
            </div>
          </div>
          <!--Grid column-->
        </div>
      </div>
    </div>
  
    <div class="links-container">
      <div class="row">
        <div class="col-lg-4">
          <h5 class="mb-4">CONTACT US</h5>
          <div class="row">
            <div class="col-lg-2">
              <ul class="list-unstyled">
                <li class="mt-2">
                  <svg
                    width="32px"
                    height="40px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0" />
  
                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
  
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M14.5 6.5C15.2372 6.64382 15.9689 6.96892 16.5 7.5C17.0311 8.03108 17.3562 8.76284 17.5 9.5M15 3C16.5315 3.17014 17.9097 3.91107 19 5C20.0903 6.08893 20.8279 7.46869 21 9M20.9995 16.4767V19.1864C21.0037 20.2223 20.0723 21.0873 19.0265 20.9929C10.0001 21 3.00006 13.935 3.00713 4.96919C2.91294 3.92895 3.77364 3.00106 4.80817 3.00009H7.52331C7.96253 2.99577 8.38835 3.151 8.72138 3.43684C9.66819 4.24949 10.2772 7.00777 10.0429 8.10428C9.85994 8.96036 8.99696 9.55929 8.41026 10.1448C9.69864 12.4062 11.5747 14.2785 13.8405 15.5644C14.4272 14.9788 15.0274 14.1176 15.8851 13.935C16.9855 13.7008 19.7615 14.3106 20.5709 15.264C20.858 15.6021 21.0105 16.0337 20.9995 16.4767Z"
                        stroke="#471f1f"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                  </svg>
                </li>
                <li>
                  <svg
                    width="32px"
                    height="40px"
                    viewBox="0 -4 32 32"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
                    fill="#000000"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                      <title>mail</title>
                      <desc>Created with Sketch Beta.</desc>
                      <defs></defs>
                      <g
                        id="Page-1"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                        sketch:type="MSPage"
                      >
                        <g
                          id="Icon-Set"
                          sketch:type="MSLayerGroup"
                          transform="translate(-412.000000, -259.000000)"
                          fill="#471f1f"
                        >
                          <path
                            d="M442,279 C442,279.203 441.961,279.395 441.905,279.578 L433,270 L442,263 L442,279 L442,279 Z M415.556,280.946 L424.58,271.33 L428,273.915 L431.272,271.314 L440.444,280.946 C440.301,280.979 415.699,280.979 415.556,280.946 L415.556,280.946 Z M414,279 L414,263 L423,270 L414.095,279.578 C414.039,279.395 414,279.203 414,279 L414,279 Z M441,261 L428,271 L415,261 L441,261 L441,261 Z M440,259 L416,259 C413.791,259 412,260.791 412,263 L412,279 C412,281.209 413.791,283 416,283 L440,283 C442.209,283 444,281.209 444,279 L444,263 C444,260.791 442.209,259 440,259 L440,259 Z"
                            id="mail"
                            sketch:type="MSShapeGroup"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </svg>
                </li>
                <li>
                  <svg
                    width="32px"
                    height="40px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="#471f1f"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </g>
                  </svg>
                </li>
              </ul>
            </div>
            <div class="col-lg-10">
              <ul class="list-unstyled">
                <li class="fw-bold mt-1">HOTLINE:</li>
                <li class="fw-bold mt-1">+123456789</li>
                <li class="mt-2">example.com</li>
                <li class="mt-3">Monday till Friday 10 to 6 EST</li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col-lg-3">
          <h5 class="mb-4">HELP</h5>
          <ul class="list-unstyled">
            <li class="mt-2">
              <a class="text-decoration-none text-white" href="#!">About</a>
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-white" href="#!">Our Blog</a>
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-white" href="#!">Careers</a>
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-white" href="#!"
                >Store Locations</a
              >
            </li>
          </ul>
        </div>
  
        <div class="col-lg-3">
          <h5 class="mb-4">COMPANY</h5>
          <ul class="list-unstyled">
            <li class="mt-2">
              <a class="text-decoration-none text-white" href="#!">Help Center</a>
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-white" href="#!"
                >Shipping Info</a
              >
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-white" href="#!">Return</a>
            </li>
            <li class="mt-2">
              <a class="text-decoration-none text-white" href="#!"
                >How To Order</a
              >
            </li>
          </ul>
        </div>
  
        <div class="col-lg-2">
          <p>Currency</p>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <p class="mt-4">Language</p>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Grid container -->
    <hr class="w-100 mt-5" />
    <!-- Copyright -->
    <div class="row mt-5 d-flex">
      <div class="rounded-circle bg-white facebook-container">
        <svg
          width="50px"
          height="50px"
          viewBox="-5 0 20 20"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          fill="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <title>facebook [#176]</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Dribbble-Light-Preview"
                transform="translate(-385.000000, -7399.000000)"
                fill="#000000"
              >
                <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path
                    d="M335.821282,7259 L335.821282,7250 L338.553693,7250 L339,7246 L335.821282,7246 L335.821282,7244.052 C335.821282,7243.022 335.847593,7242 337.286884,7242 L338.744689,7242 L338.744689,7239.14 C338.744689,7239.097 337.492497,7239 336.225687,7239 C333.580004,7239 331.923407,7240.657 331.923407,7243.7 L331.923407,7246 L329,7246 L329,7250 L331.923407,7250 L331.923407,7259 L335.821282,7259 Z"
                    id="facebook-[#176]"
                  ></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="text-center p-3 fw-bold">©2023 NOVA-CREATIVE THEME</div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  
