/* ::ng-deep .container {
  font-size: 11px;
  font-weight: bold;
  font-family: "Signika";
} */
.user {
  cursor: pointer;
}
.dotted-icon-container {
  position: relative;
}
header {
  position: relative;
  z-index: 999;
}
.dotted-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px dotted rgb(133, 67, 67);
  border-radius: 50%;
}

.dotted-icon-container .badge {
  position: absolute;
  top: 2px;
  right: -6px;
  width: 20px;
  height: 20px;
}

.dotted-icon-container .badge.bg-danger {
  background-color: rgb(87, 41, 41) !important;
}

.nav-link:hover,
.active {
  color: rgb(87, 41, 41) !important;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  position: relative;
}

.icon-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  margin-right: 4px;
  justify-content: center;
  align-items: center;
}

.bg-brown {
  background-color: rgb(87, 41, 41);
}

.placeholder-small::placeholder {
  font-size: 8px;
  font-weight: bold;
  color: rgb(197, 191, 191);
}

.search {
  height: 40px;
  width: 250px;
}

.search input {
  height: 40px;
}

.icon-container:hover {
  background-color: rgb(113, 64, 64) !important;
  cursor: pointer;
}

.form-control:focus + .position-absolute .icon-container {
  visibility: visible !important;
}

@media (max-width: 1200px) {
  .navbar .container {
    flex-wrap: wrap;
  }
}

/* Expand search input to full width on smaller screens */
@media (max-width: 1200px) {
  .navbar .search {
    width: 100%;
    max-width: none;
  }
  .navbar-nav {
    display: none;
  }
}

/* Hide the sidebar icon on the extra large screens */
@media (min-width: 1201px) {
  .sidebar-btn {
    display: none;
  }
}

/* Sidebar Styling */
.sidebar-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 50px;
}

.custom-list .divider {
  border-top: 2px solid #b1b1b1;
}

.custom-list li a {
  color: black !important;
  margin-left: 20px;
}

/* Sidebar */
@media (max-width: 767.98px) {
  .offcanvas-start.custom-offcanvas {
    width: 250px !important;
  }
}

@media (min-width: 768px) {
  .offcanvas-start.custom-offcanvas {
    width: 350px !important;
  }
}
.offcanvas-body {
  overflow-x: hidden;
}

.offcanvas-start {
  transform: translateX(-100%);
}

.offcanvas.show {
  transform: translateX(0);
}

.contact {
  margin-top: 280px;
}

@media (max-width: 991px) {
  .contact-header {
    display: none !important;
  }
  .contact {
    display: block;
  }
}

@media (min-width: 992px) {
  .contact-header {
    display: flex !important;
    justify-content: space-between;
  }
  .contact {
    display: none;
  }
}

@media (max-width: 768px) {
  .favorite,
  .navbar,
  .original-search {
    display: none;
  }
}

/* Phone Icon Animation */
@keyframes ringing {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

.dotted-icon-container.phone:hover .dotted-icon svg {
  animation: ringing 0.7s;
}

.dotted-icon-container .hover-icon {
  display: none;
}

.dotted-icon-container:hover .original-icon {
  display: none;
}

.dotted-icon-container:hover .hover-icon {
  display: inline-block;
}

/* Close button of cart sidebar */
.rotate-360 {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.rotate-back {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.btn-close-cart {
  font-size: 10px;
}

.badge-cart {
  position: relative;
  right: -3px;
  width: 20px;
  height: 20px;
}

.badge-cart.bg-danger {
  background-color: rgb(87, 41, 41) !important;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
}

.progress-wrapper {
  position: relative;
  height: auto;
  border-radius: 10px;
  border: 1px solid green;
}

.progress {
  height: 5px;
}
.progress-bar {
  background-image: linear-gradient(
    90deg,
    rgba(40, 167, 69, 0.5),
    rgba(40, 167, 69, 0.5),
    transparent
  );
  background-size: 200% 100%;
  animation: moveBackground 2s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.circle-wrapper {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border: 1px solid green;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.view-cart-btn,
.check-out-btn {
  display: block;
  width: 100%;
  height: 35px;
  border: none;
  margin-bottom: 10px;
  border: 2px #b1b1b1;
  border-radius: 3px;
  font-weight: bold;
}

.check-out-btn {
  background-color: black;
  color: white;
}

.product-title {
  text-decoration: none;
  cursor: pointer;
  color: black !important;
}

.product-title:hover {
  color: rgb(113, 64, 64) !important;
}

.decrementQuantityBtn,
.incrementQuantityBtn,
.quantityInput {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.solid-icon-container .cart-sidebar {
  position: relative;
}

.border-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px;
  background-color: rgb(228, 225, 225);
  border-radius: 50%;
}

.solid-icon-container .hover-icon {
  display: none;
}

.solid-icon-container:hover .original-icon {
  display: none;
}

.solid-icon-container:hover .hover-icon {
  display: inline-block;
}

.border-icon:hover {
  background-color: rgb(87, 41, 41) !important;
}

.product-border {
  display: inline-block;
  padding: 5px;
  border: 1px solid rgb(232, 229, 229) !important;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-border img {
  display: block;
  width: 100px;
  height: auto;
  cursor: pointer;
}

