<section id="NovBreadcrumbs" class="breadcrumb_inner">
  <div class="container position-relative">
    <h1
      id="path-title"
      class="headingBreacrumb text-uppercase f_pr font-800 mb-5 position-relative"
    >
      <ng-container *ngIf="getCurrentUrl()?.endsWith('wishlist')" i18n
        >Wishlist</ng-container
      >
      <ng-container *ngIf="getCurrentUrl()?.endsWith('aboutus')" i18n
        >About Us</ng-container
      >
      <ng-container *ngIf="getCurrentUrl()?.endsWith('faq')" i18n
        >FAQ</ng-container
      >
      <ng-container *ngIf="getCurrentUrl()?.endsWith('cart')" i18n
        >YOUR SHOPPING CART</ng-container
      >
      <ng-container *ngIf="getCurrentUrl()?.endsWith('contactus')" i18n
        >contactus</ng-container
      >
      <ng-container *ngIf="getCurrentUrl()?.endsWith('profile')" i18n
        >Account</ng-container
      >
      <ng-container *ngIf="getCurrentUrl()?.endsWith('products')" i18n
        >products</ng-container
      >
    </h1>

    <div class="list-sub-items position-relative">
      <ol class="breadcrumb">
        <li class="list-inline-item">
          <a routerLink="/" class="item-breacrumb item-home" i18n>Home .</a>
        </li>
        <li id="path-title" class="list-inline-item">
          <span class="item-breacrumb">
            <ng-container *ngIf="getCurrentUrl()?.endsWith('wishlist')" i18n
              >Wishlist</ng-container
            >
            <ng-container *ngIf="getCurrentUrl()?.endsWith('aboutus')" i18n
              >About Us</ng-container
            >
            <ng-container *ngIf="getCurrentUrl()?.endsWith('faq')" i18n
              >FAQ</ng-container
            >
            <ng-container *ngIf="getCurrentUrl()?.endsWith('cart')" i18n
              >YOUR SHOPPING CART</ng-container
            >
            <ng-container *ngIf="getCurrentUrl()?.endsWith('contactus')" i18n
              >contactus</ng-container
            >
            <ng-container *ngIf="getCurrentUrl()?.endsWith('profile')" i18n
              >Account</ng-container
            >
            <ng-container *ngIf="getCurrentUrl()?.endsWith('products')" i18n
              >products</ng-container
            >
          </span>
        </li>
      </ol>
    </div>
  </div>
</section>
