<div class="container">
  <div class="card">
    <div class="images-buttons">
      <div class="icons">
        <p>
          <i
            [ngClass]="{
              'fa-regular': !isHeartSolid,
              'fa-solid': isHeartSolid
            }"
            (click)="toggleHeartIcon()"
            class="fa-heart"
          ></i>
        </p>
        <p>
          <i class="fa-regular fa-images fa-2xs"></i>
        </p>
      </div>
      <img
        src="../../assets/images/first.png"
        alt="Denim Jeans"
        style="width: 100%"
         (mouseover)="changeImage('second.png')" 
         (mouseout)="changeImage('first.png')" 
        [src]="currentImage"
        class="image-transition"
      />

      <button class="cart-btn">Add to Cart</button>
    </div>
  </div>
  <h4 class="title">American Beef</h4>
  <app-rating-stars></app-rating-stars>
  <p class="price">$19.99</p>
</div>
