/* @import "bootstrap-icons/font/bootstrap-icons.css"; */
/* @import "~bootstrap-icons/font/bootstrap-icons.css"; */
/* @import "~bootstrap-icons/font/bootstrap-icons.css"; */

.container{
    box-sizing: border-box;    
    /* border: 1px solid #000000; */
    width: 330px;
    height: 470px;
}
img{
    width: 100%;
   max-height: 270px;
   margin: 30px 0;
}
.card {
    position: relative;
}
.images-buttons {
    position: relative;
}
.card:hover .cart-btn,
.card:hover .icons {
    display: block;
    /* opacity:1; */
    

}

.card .cart-btn {
   
    color: black;
    background-color: #e7e8eb;
    position: absolute;
    bottom: 0;



    position: absolute;
    bottom: 0;
    left: 25px; /* Adjust the position of the button */
    right: 0;
    background-color: #e7e8eb;
    color: black;
    opacity: 1;
    transition: all 0.3s ease; /* Adjust the transition duration */
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    width: 85%; /* Ensure button takes full width */
    z-index: 999; /* Ensure button is above other content */
    
   
  } 
.card:hover .cart-btn {
    background-color: #52271f;
    color: white;
    opacity: 1;

   
    background-color: #52271f;
    color: white;
    transform: translateY(-41px);
}
.card .cart-btn,
.card .icons {
    display: none;
}


.images-buttons:hover {
    cursor: pointer;
}

.icons{
    position: absolute;
    right: 27px;
    top: 24px;
}
.icons p {
    border-radius: 50%;
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
    padding: 4px;
    box-shadow: 4px 4px 5px #0000001a;
    cursor: pointer;
    /* background-color: white; */
    z-index: 1000;
    display: flex;
    align-items: center;
}

.icons p:hover {
    background-color: black;
    i{
        color: white;
    }
}


.icons i{
    font-size: 20px;
    display: block;
    border-radius: 50%;
    position: relative;
    z-index: 2000;
    /* background-color: white; */
    /* padding: inherit; */
    background: center;
}



.card {
    border: 1px solid #eaeaea;
    text-align: center;
    font-family: arial;
    position: relative;
    border-radius: 30px;
  }
  
  .price {
    color: #232630;
    font-weight: bolder;
    font-size: 20px !important;
  }
  
   
  
  .card button:hover {
   
  } 

  .image-transition:hover {
    transition: opacity 1000s ease-in-out;
  }
  
h4{
    font-weight: bolder; 
    font-size: 22px;
    margin-top: 15px !important;
}
