<div class="product_container">
  <div class="card">
    <div class="images-buttons">
      <div class="icons" *ngIf="!isAdmin">
        <ng-container
          *ngIf="getCurrentUrl() !== '/wishlist'; else wishlistActions"
        >
          <p (click)="addToWishlist(product._id)">
            <i
              [ngClass]="{
                'fa-regular': !isHeartSolid,
                'fa-solid': isHeartSolid
              }"
              (click)="toggleHeartIcon()"
              class="fa-heart"
            ></i>
          </p>
        </ng-container>

        <ng-template #wishlistActions>
          <p (click)="deleteProductFromWishlist(product._id)">
            <i class="fa-solid fa-trash fa-sm"></i>
          </p>
        </ng-template>

        <p>
          <i class="fa-regular fa-images fa-2xs"></i>
        </p>
      </div>
      <div class="icons" *ngIf="isAdmin">
        <p>
          <a routerLink="/admin/edit/{{ product._id }}">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </p>

        <p (click)="deleteProduct(product._id)">
          <i class="fa-solid fa-trash"></i>
        </p>
      </div>
      <img
        *ngIf="product && product.images && product.images.length > 0"
        src="http://localhost:8000/{{ currentImage }}"
        alt="Product Image"
        class="image-transition product-img"
        (mouseover)="changeImage(product.images[1])"
        (mouseout)="resetImage()"
        (click)="goToSingleProduct(product._id)"
      />

      <button
        *ngIf="!isAdmin"
        class="cart-btn"
        (click)="addToCart(product._id)"
        i18n
      >
        Add to Cart
      </button>
    </div>
  </div>
  <div [class.rtl]="ltr">
    <h4 class="title">{{ product.title[lang] }}</h4>
    <app-rating-stars></app-rating-stars>
    <p class="price">
      {{ product.price | currency : (lang == "ar" ? "ج.م" : "$") }}
    </p>
  </div>
</div>

<div
  aria-live="polite"
  aria-atomic="true"
  class="toast-container d-flex justify-content-center align-items-center"
  id="toastt"
>
  <div
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    id="toast-product"
  >
    <div class="toast-header bg-danger text-white">
      <i class="fa-solid fa-bell fa-xl" style="color: #ffffff"></i>
      <p class="mr-auto" i18n>THIS ITEM HAS BEEN ADDED TO YOUR WISHLIST</p>
    </div>

    <div class="d-flex flex-row toast-body">
      <img
        src="http://localhost:8000/{{ product.images[0] }}"
        class="toast-img"
      />
      <h3 class="toast-product-name">{{ product.title[lang] }}</h3>
      <a routerLink="/wishlist">
        <button class="go-to-wishlist-btn" i18n>GO TO WISHLIST</button>
      </a>
    </div>
  </div>
</div>
