<div class="container">
  <div class="card">
    <div class="images-buttons">
      <div class="icons">
        <p>
          <i
            [ngClass]="{
              'fa-regular': !isHeartSolid,
              'fa-solid': isHeartSolid
            }"
            (click)="toggleHeartIcon()"
            class="fa-heart"
          ></i>
        </p>
        <p>
          <i class="fa-regular fa-images fa-2xs"></i>
        </p>
      </div>
      <img
        src=`{{product.images}}`
        alt="Denim Jeans"
        (mouseover)="changeImage('{{product.images[0]}}' )"
        (mouseout)="changeImage('{{product.images[1]}}' )"
        [src]="currentImage"
        class="image-transition product-img"
      />

      <button class="cart-btn">Add to Cart</button>
    </div>
  </div>
  <h4 class="title">{{ product.title.en }}</h4>
  <app-rating-stars></app-rating-stars>
  <p class="price">{{ product.price }}</p>
</div>

<!-- <div
  aria-live="polite"
  aria-atomic="true"
  class="toast-container d-flex justify-content-center align-items-center"
  id="toastContainer"
>
  <div
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    id="passwordToast"
  >
    <div class="toast-header bg-danger text-white">
      <i class="fa-solid fa-bell fa-xl" style="color: #ffffff"></i>
      <p class="mr-auto">THIS ITEM HAS BEEN ADDED TO YOUR WISHLIST</p>
    </div>

    <div class="d-flex flex-row toast-body">
      <img src="{{product.images[0]}}" class="toast-img" />
      <h6 class="title">{{product.title.en}}</h6>
      <a href="/wishlist">
        <button
          class="go-to-wishlist-btn"
          [ngStyle]="{ display: showAddToCartButton ? 'block' : 'none' }"
        >
          GO TO WISHLIST
        </button>
      </a>
    </div>
  </div>
</div> -->
