<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <div>
      <img
        class="img-fluid"
        src="https://nov-freshmate.myshopify.com/cdn/shop/files/404-sleep-cat_1920x.gif?v=1689230820"
        alt="404 not-found"
      />
    </div>

    <div class="mt-5">
      <h1 i18n class="font-monospace">PAGE NOT FOUND</h1>
    </div>

    <div>
      <span i18n class="font-monospace"
        >We're sorry — something has gone wrong on our end.</span
      >
    </div>

    <div class="mt-3 d-block justify-content-sm-center d-sm-flex">
      <a
        class="btn btn-outline-dark border-0"
        style="background-color: #e9ebeb"
        [routerLink]="['/']"
      >
        <span i18n class="font-monospace">BACK TO HOMEPAGE</span>
      </a>
      <a
        class="btn btn-outline-dark border-0 ms-2"
        style="background-color: #e9ebeb"
        [routerLink]="['/products']"
      >
        <span i18n class="font-monospace">Continue Shopping</span>
      </a>
    </div>
  </div>
</div>
