<app-pathbar></app-pathbar>

<div class="container mt-5 mb-5">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button
          i18n
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne"
          aria-expanded="true"
          aria-controls="panelsStayOpen-collapseOne"
        >
          Shipping and Delivery
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne"
        data-bs-parent="#accordionPanelsStayOpenExample"
      >
        <div class="accordion-body">
          <li i18n>How long does shipping take?</li>
          <p i18n>
            Shipping times vary depending on your location and the shipping
            method selected during checkout. Typically, orders are processed
            within 1-3 business days, and standard shipping can take anywhere
            from 3-7 business days. For expedited shipping options, delivery
            times may be shorter.
          </p>
          <li i18n>What shipping methods do you offer?</li>
          <p i18n>
            We offer standard shipping, expedited shipping, and sometimes even
            same-day or next-day delivery options, depending on your location
            and product availability.
          </p>
          <li i18n>Do you ship internationally?</li>
          <p i18n>
            Yes, we ship to many countries worldwide. International shipping
            rates and delivery times may vary.
          </p>
          <li i18n>How can I track my order?</li>
          <p i18n>
            Once your order has been shipped, you will receive a shipping
            confirmation email with a tracking number and instructions on how to
            track your package.
          </p>
          <li i18n>What should I do if my order hasn't arrived yet?</li>
          <p i18n>
            If your order hasn't arrived within the estimated delivery window,
            please contact our customer support team, and we will assist you in
            tracking your package and resolving any issues.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button
          i18n
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseTwo"
        >
          Returns and Exchanges
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo"
        data-bs-parent="#accordionPanelsStayOpenExample"
      >
        <div class="accordion-body">
          <li i18n>What is your return policy?</li>
          <p i18n>
            Our return policy allows you to return most items within 30 days of
            delivery for a full refund or exchange. Some exclusions may apply,
            such as personalized or custom-made items.
          </p>
          <li i18n>How do I initiate a return or exchange?</li>
          <p i18n>
            To initiate a return or exchange, please contact our customer
            support team with your order number and reason for return. We will
            provide you with instructions on how to proceed.
          </p>
          <li i18n>Are there any restocking fees for returns?</li>
          <p i18n>
            In most cases, we do not charge restocking fees for returns.
            However, if an item is returned in a significantly different
            condition than when it was received, a restocking fee may apply.
          </p>
          <li i18n>Can I return an item if I've opened the packaging?</li>
          <p i18n>
            Yes, you can return an item even if you've opened the packaging, as
            long as the item is in its original condition and packaging.
          </p>
          <li i18n>How long do I have to return or exchange an item?</li>
          <p i18n>
            You have 30 days from the date of delivery to return or exchange an
            item. After this period, returns or exchanges may not be accepted.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button
          i18n
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree"
        >
          Product Information
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree"
        data-bs-parent="#accordionPanelsStayOpenExample"
      >
        <div class="accordion-body">
          <li i18n>How do I know if a product is in stock?</li>
          <p i18n>
            Product availability is indicated on the product page. If a product
            is out of stock, you will see a notification indicating when it will
            be available again.
          </p>
          <li i18n>Can I view product specifications and dimensions?</li>
          <p i18n>
            Yes, product specifications and dimensions are listed on the product
            page under the "Product Details" section.
          </p>
          <li i18n>Are the product images accurate representations?</li>
          <p i18n>
            We strive to provide accurate and high-quality images of our
            products. However, please note that colors may vary slightly due to
            differences in lighting and monitor settings.
          </p>
          <li i18n>Do you offer product warranties or guarantees?</li>
          <p i18n>
            Many of our products come with a manufacturer's warranty or
            satisfaction guarantee. Please refer to the product description or
            contact our customer support team for more information.
          </p>
          <li i18n>Are there any assembly instructions or guides available?</li>
          <p i18n>
            Assembly instructions or guides are provided for products that
            require assembly. You can find these instructions either included
            with the product or available for download on the product page.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button
          i18n
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFour"
          aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFour"
        >
          Payments and Billing
        </button>
      </h2>
      <div
        id="panelsStayOpen-collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFour"
        data-bs-parent="#accordionPanelsStayOpenExample"
      >
        <div class="accordion-body">
          <li i18n>What payment methods do you accept?</li>
          <p i18n>
            We accept various payment methods, including credit/debit cards,
            PayPal, Apple Pay, Google Pay, and sometimes even installment plans
            or alternative payment methods.
          </p>
          <li i18n>Is my payment information secure?</li>
          <p i18n>
            Yes, we take the security of your payment information seriously and
            use industry-standard encryption technology to protect your data.
          </p>
          <li i18n>Do you offer payment installment plans?</li>
          <p i18n>
            Yes, we offer payment installment plans for certain purchases. You
            can select this option during checkout if available.
          </p>
          <li i18n>Can I change or cancel my order after it's been placed?</li>
          <p i18n>
            Orders can usually be changed or canceled within a short period
            after they have been placed. Please contact our customer support
            team as soon as possible if you need to make changes to your order.
          </p>
          <li i18n>
            Are there any additional taxes or fees applied to my order?
          </li>
          <p i18n>
            Taxes and fees may vary depending on your location and the items in
            your order. Any applicable taxes or fees will be calculated and
            displayed during checkout.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
