<app-pathbar></app-pathbar>

<div class="first-section-container d-flex justify-content-around">
  <div class="whole-section d-flex gap-3">
    <div class="images-icons d-flex gap-3">
      <img class="girl-img" src="assets/images/quote_380x.avif" />
      <img class="quote-icon" src="assets/images/icon_quote_40x32.webp" />
    </div>
    <div class="quotes d-flex flex-column gap-2">
      <p i18n>
        Best purchase I’ve made this winter! The color and knitting are
        exquisite and it's so comfy! Went from NYC to Miami without ever taking
        it off. Super cute!!
      </p>
      <h6>Kwang Shang. - CEO Vinovathemes</h6>
    </div>
  </div>
</div>

<section
  class="screen py-5"
  [style.marginBottom.px]="50"
  [style.marginTop.px]="50"
>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5 py-sm-3">
        <div class="section-text">
          <h4><span class="text fw-bold fs-3" i18n>Why choose us?</span></h4>
          <p i18n class="sub-text">
            Maecenas congue metus id turpis iaculis mattis.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="screen_img">
          <img
            src="assets/images/71390-shopping-cart-loader_768x.webp"
            alt="screen_img"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<div style="border-top: 3px solid #d9d9d9; opacity: 100%"></div>

<section
  class="screen py-5"
  [style.marginBottom.px]="50"
  [style.marginTop.px]="50"
>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6">
        <div class="screen_img">
          <img
            src="assets/images/74384-swipe-for-shopping_768x.gif"
            alt="screen_img"
            class="w-100"
          />
        </div>
      </div>
      <div class="col-md-5 py-sm-3">
        <div class="section-text">
          <h4>
            <span class="text fw-bold fs-3" i18n>Trusted online shopping</span>
          </h4>
          <p i18n class="sub-text">
            Maecenas congue metus id turpis iaculis mattis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="border-top: 3px solid #d9d9d9; opacity: 100%"></div>

<div class="images container mx-auto text-center mt-5 mb-5">
  <h1 i18n>Meet our Team</h1>
  <div class="row justify-content-center mt-5">
    <a
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-4 mb-xl-0 row justify-content-center"
      href="http://www.linkedin.com/in/esraaoliba"
    >
      <!-- <div> -->
      <p>Esraa Oliba</p>
      <img
        src="assets/images/members/esraa.jpg"
        class="img-fluid col-7 p-0"
        alt="Omar Eid"
      />
    </a>
    <a
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-4 mb-xl-0 row justify-content-center"
      href="https://www.linkedin.com/in/salma-yousry-a59720246"
    >
      <p>Salma El-Housary</p>

      <img
        src="assets/images/members/salma.jpg"
        class="img-fluid col-7 p-0"
        alt="Esraa Oliba"
      />
    </a>

    <a
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-4 mb-xl-0 row justify-content-center"
      href="http://linkedin.com/in/mostafa-attia-497108237"
    >
      <p>Mosatafa Fakhr</p>

      <img
        src="assets/images/members/mostafa.jpg"
        class="img-fluid col-7 p-0"
        alt="Mosatafa Fakhr"
      />
    </a>

    <a
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-lg-4 row mt-xl-5 justify-content-center"
      href="https://www.linkedin.com/in/omar-a-eid/"
    >
      <p>Omar Eid</p>
      <img
        src="assets/images/members/omar.jpg"
        class="img-fluid col-7 p-0"
        alt="Kareem El-Desoky"
      />
    </a>

    <a
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-lg-4 row mt-xl-5 justify-content-center"
      href="https://www.linkedin.com/in/karim-mohamed-bb8787298/?trk=opento_sprofile_topcard"
    >
      <p>Kareem El-Desoky</p>
      <img
        src="assets/images/members/kareem.jpg"
        class="img-fluid col-7 p-0"
        alt="Salma El-Housary"
      />
    </a>

    <a
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-lg-4 row mt-xl-5 justify-content-center kareem-img"
      href="https://www.linkedin.com/in/ahmed-adel-898b10237/"
    >
      <p>Ahmed Adel</p>
      <img
        src="assets/images/members/ahmed.jpg"
        class="img-fluid col-7 p-0"
        alt="Ahmed Adel"
      />
    </a>
  </div>
</div>
