.whole-section{
    justify-content: center;
    height: 332px;
    background-color: #e7e8eb;
    margin-top: 52px;
    width: 1500px;
    border-radius: 39px;
}

.quote-icon{
    height: 92px;
    width: 67px;
    padding-top: 54px;
}
.quotes{
    height: fit-content;
    padding-top: 74px;
}

.girl-img{
    height: 273px;
    width: 251px;
}


.hashTag{
    background-color: #f1f1f1;
    padding-bottom: 250px;
    margin-top: 50px;
    /* margin-left: 116px; */
    width: 1361px;
    height: 347px;
    border-radius: 15px;
}

.section-text{
    width: 597px;
}

.hashTag p{
    color: black;
    font-size: 20px;

}
.screen{
    height: 700px;
}
.sub-text{
    color:#76777b
}
.row .row img {
    border-radius: 60px 60px 0px 0px;
    position: relative;
    box-shadow: 6px 6px 1px var(--jet);
    object-fit: cover;
}

.first-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.whole-section{
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: black !important;
}