<app-navbar></app-navbar>
<app-pathbar></app-pathbar>
<div class="d-flex align-items-center">
  <section
    class="hashTag py-5"
    [style.paddingBottom.px]="250"
    [style.marginTop.px]="50"
  >
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-6 d-flex">
          <div class="hashTag_img">
            <img
              src="../../../assets/images/quote_380x.avif"
              alt="hashTag_img"
              class="w-100 quote-img"
              [style.borderRadius.px]="80"
              [style.borderTopRightRadius.px]="50"
              [style.borderBottomLeftRadius.px]="50"
            />
            <img
              src="../../../assets/images/icon_quote_40x32.webp"
              class="quote-icon"
            />
          </div>
        </div>
        <div class="col-md-5 quote">
          <div class="section-text py-sm-5">
            <p>
              Best purchase I’ve made this winter! The color and knitting are
              exquisite and it's so comfy! Went from NYC to Miami without ever
              taking it off. Super cute!!
            </p>
            <h6>Kwang Shang. - CEO Vinovathemes</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- <section>
  <div class="container d-flex">
    <img
    src="../../../assets/images/quote_380x.avif"
    alt="hashTag_img"
    class="w-100 quote-img"
    [style.borderRadius.px]="80"
    [style.borderTopRightRadius.px]="50"
    [style.borderBottomLeftRadius.px]="50"
  />
  <img
    src="../../../assets/images/icon_quote_40x32.webp"
    class="quote-icon"
  />
  <div class="d-flex flex-column">
    <p>
      Best purchase I’ve made this winter! The color and knitting are
      exquisite and it's so comfy! Went from NYC to Miami without ever
      taking it off. Super cute!!
    </p>
    <h6>Kwang Shang. - CEO Vinovathemes</h6>
  </div>
  </div>
</section> -->

<section
  class="screen py-5"
  [style.marginBottom.px]="50"
  [style.marginTop.px]="50"
>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5 py-sm-3">
        <div class="section-text">
          <h4><span class="text fw-bold fs-3">Why choose us?</span></h4>
          <p class="sub-text">
            Maecenas congue metus id turpis iaculis mattis.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="screen_img">
          <img
            src="../../../assets/images/71390-shopping-cart-loader_768x.webp"
            alt="screen_img"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<div style="border-top: 3px solid #d9d9d9; opacity: 100%"></div>

<section
  class="screen py-5"
  [style.marginBottom.px]="50"
  [style.marginTop.px]="50"
>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6">
        <div class="screen_img">
          <img
            src="../../../assets/images/74384-swipe-for-shopping_768x.gif"
            alt="screen_img"
            class="w-100"
          />
        </div>
      </div>
      <div class="col-md-5 py-sm-3">
        <div class="section-text">
          <h4>
            <span class="text fw-bold fs-3">Trusted online shopping</span>
          </h4>
          <p class="sub-text">
            Maecenas congue metus id turpis iaculis mattis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="border-top: 3px solid #d9d9d9; opacity: 100%"></div>

<div class="images container mx-auto text-center mt-5 mb-5">
  <h1>Meet our Team</h1>
  <div class="row justify-content-center mt-5">
    <div
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-4 mb-xl-0 row justify-content-center"
    >
      <p>Esraa Oliba</p>
      <img
        src="../../../assets/images/members/esraa.jpg"
        class="img-fluid col-7 p-0"
        alt="Omar Eid"
      />
    </div>

    <div
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-4 mb-xl-0 row justify-content-center"
    >
      <p>Salma El-Housary</p>

      <img
        src="../../../assets/images/members/salma.jpg"
        class="img-fluid col-7 p-0"
        alt="Esraa Oliba"
      />
    </div>

    <div
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-4 mb-xl-0 row justify-content-center"
    >
      <p>Mosatafa Fakhr</p>

      <img
        src="../../../assets/images/members/mostafa.jpg"
        class="img-fluid col-7 p-0"
        alt="Mosatafa Fakhr"
      />
    </div>

    <div
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-lg-4 row mt-xl-5 justify-content-center"
    >
      <p>Omar Eid</p>
      <img
        src="../../../assets/images/members/omar.jpg"
        class="img-fluid col-7 p-0"
        alt="Kareem El-Desoky"
      />
    </div>

    <div
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-lg-4 row mt-xl-5 justify-content-center"
    >
      <p>Kareem El-Desoky</p>
      <img
        src="../../../assets/images/members/kareem.jpg"
        class="img-fluid col-7 p-0"
        alt="Salma El-Housary"
      />
    </div>

    <div
      class="col-12 col-lg-4 col-sm-10 col-md-6 col-xl-4 mb-lg-4 row mt-xl-5 justify-content-center kareem-img"
    >
      <p>Ahmed Adel</p>
      <img
        src="../../../assets/images/members/ahmed.jpg"
        class="img-fluid col-7 p-0"
        alt="Ahmed Adel"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
