<div>
  <div>
    <div>
      <h2>Premium Coffee Beans</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam risus nibh,
        feugiat nec sapien ac, faucibus luctus odio. Nam nec porta leo. Donec
        scelerisque libero ac luctus aliquam. Integer fringilla sed dui euismod
        placerat. Fusce vitae odio est. Nulla id eros mi. Integer vitae mauris
        et felis pulvinar pellentesque. Praesent a auctor odio. Morbi lacinia
        aliquet augue, non auctor ipsum vehicula a.
      </p>
    </div>

    <div>
      <div>
        <div>
          <div>
            <img src="" alt="" srcset="" />
          </div>

          <div>
            <p>Altitude</p>
            <p>Up to ca. 800M</p>
          </div>
        </div>

        <div>
          <div>
            <img src="" alt="" srcset="" />
          </div>

          <div>
            <p>Temperature</p>
            <p>22 - 30° C</p>
          </div>
        </div>
      </div>

      <div>
        <div>
          <div>
            <img src="" alt="" srcset="" />
          </div>

          <div>
            <p>Caffeine</p>
            <p>2 - 4,5 %</p>
          </div>
        </div>

        <div>
          <div>
            <img src="" alt="" srcset="" />
          </div>

          <div>
            <p>Production</p>
            <p>30% of the world market</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <img src="" alt="" srcset="" />
  </div>
</div>
