<div class="container-fluid">
    <div class="row col-12">
        <div class="col-12 ">
            <div class="col-12 d-flex">
                <div class="col-1 d-flex"></div>
                <div class="col-10 d-flex justify-content-between ">
                    <div>
                        <h5><strong>FreshMate Password : 1</strong></h5>
                    </div>
                    <div>
                        <i class="fa-solid fa-bag-shopping"></i>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex">
            <div class="col-1"></div>
            <div class="col-10 d-flex justify-content-evenly">
                <div class="col-5">
                    <p>Account</p>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Karimgmail.com
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Email me with news and offers</label>
                    </div>
                    <h5>Delivery</h5>
                    <!-- Continue code here -->
                    <!-- Continue code here -->
                    <!-- Continue code here -->
                </div>
                <hr class="brd">
                <div class="col-5 gray">
                    <!-- Continue code here -->
                    <!-- Continue code here -->
                    <!-- Continue code here -->
                </div>
            </div>
            <div class="col-1 gray"></div>
        </div>
    </div>
</div>