<div class="container-fluid">
  <div class="row">
      <div class="col-1"></div>
      <div class="col-11 col-md-5 col-lg-5 col-xl-5 mt-5">
        <div class="d-flex justify-content-between">
          <div class="mb-3">
            <a i18n class="clickable" (click)="logout = !logout">
              Account</a>
          </div>
          <div class="mb-3">
            <i class="clickable fa-solid fa-angle-down text-center" (click)="logout = !logout"></i>
          </div>
        </div>
        <div>
          <p>{{ UserEmail }}</p>
          <p (click)="signout()" class="link color1 cursor" *ngIf="logout" i18n>
            Log out
          </p>
        </div>
        <hr />
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label i18n class="form-check-label" for="exampleCheck1">Email me with news and offers</label>
        </div>
        <h5 i18n>Delivery</h5>
        <!-- FORM -->
        <!-- FORM -->
        <!-- FORM -->
        <form [formGroup]="Checkout" class="form mt-3">
          <div class="form-floating">
            <select class="form-select" formControlName="country" name="country" id="floatingSelect"
              aria-label="Floating label select example">
              <option i18n selected>Egypt</option>
            </select>
            <label i18n for="floatingSelect">Country/Region</label>
          </div>
          <!--  country validation -->
          <div class="form-text text-danger" *ngIf="country.errors?.['required'] && (country.touched || country.dirty)">
            <p><strong i18n>Country is Required</strong></p>
          </div>
          <!-- end country valiadtion -->
          <div class="mt-3 d-flex">
            <div class="col-6 w-50 px-1">
              <div class="col-md">
                <div class="form-floating">
                  <input i18n type="text" class="form-control" formControlName="firstname" name="firstname"
                    id="floatingInputGrid" placeholder="First Name" i18n-placeholder />
                  <label i18n for="floatingInputGrid">First Name (Optional)</label>
                </div>
              </div>
              <!--  firstname validation -->
              <div class="form-text text-danger"
                *ngIf="firstname.errors?.['required'] && (firstname.touched || firstname.dirty)">
                <p i18n><strong>firstname is Required</strong></p>
              </div>
              <div class="form-text text-danger"
                *ngIf="firstname.errors?.['minlength'] && (firstname.touched || firstname.dirty)">
                <p i18n>
                  <strong>firstname must be at least 5 characters long</strong>
                </p>
              </div>
              <div class="form-text text-danger"
                *ngIf="firstname.errors?.['maxlength'] && (firstname.touched || firstname.dirty)">
                <p i18n>
                  <strong>firstname cannot exceed 15 characters</strong>
                </p>
              </div>
              <!-- end firstname valiadtion -->
            </div>
            <div class="col-6 w-50">
              <div class="form-floating">
                <input i18n type="text" class="form-control" formControlName="lastname" name="lastname"
                  id="floatingInputGrid2" placeholder="Last Name" i18n-placeholder />
                <label i18n for="floatingInputGrid2">Last Name</label>
              </div>
              <!--  lastname validation -->
              <div class="form-text text-danger"
                *ngIf="lastname.errors?.['required'] && (lastname.touched || lastname.dirty)">
                <p i18n><strong>lastname is Required</strong></p>
              </div>
              <div class="form-text text-danger"
                *ngIf="lastname.errors?.['minlength'] && (lastname.touched || lastname.dirty)">
                <p i18n>
                  <strong>lastname must be at least 5 characters long</strong>
                </p>
              </div>
              <div class="form-text text-danger"
                *ngIf="lastname.errors?.['maxlength'] && (lastname.touched || lastname.dirty)">
                <p i18n>
                  <strong>firstname cannot exceed 15 characters</strong>
                </p>
              </div>
              <!-- end lastname valiadtion -->
            </div>
          </div>
          <div class="col-12 mt-3">
            <input i18n type="text" class="form-control" formControlName="address" name="address" id="inputAddress"
              placeholder="Address" i18n-placeholder />
          </div>
          <!--  address validation -->
          <div class="form-text text-danger" *ngIf="address.errors?.['required'] && (address.touched || address.dirty)">
            <p i18n><strong>address is Required</strong></p>
          </div>
          <div class="form-text text-danger"
            *ngIf="address.errors?.['minlength'] && (address.touched || address.dirty)">
            <p i18n>
              <strong>address must be at least 10 characters long</strong>
            </p>
          </div>
          <div class="form-text text-danger"
            *ngIf="address.errors?.['maxlength'] && (address.touched || address.dirty)">
            <p i18n><strong>address cannot exceed 50 characters</strong></p>
          </div>
          <!-- end address valiadtion -->
          <div class="col-12 mt-3">
            <input i18n type="text" class="form-control" formControlName="appartment" name="appartment"
              id="inputAddress" placeholder="Appartment, suite, etc. (Optional)" i18n-placeholder />
          </div>
          <!--  appartment validation -->
          <div class="form-text text-danger"
            *ngIf="appartment.errors?.['required'] && (appartment.touched || appartment.dirty)">
            <p i18n><strong>appartment is Required</strong></p>
          </div>
          <!-- end appartment valiadtion -->
          <div class="col-12 d-flex mt-3 mb-3">
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  <input i18n type="text" class="form-control" formControlName="city" name="city"
                    id="floatingInputGrid3" placeholder="City" i18n-placeholder value="Alexandria" />
                  <label i18n for="floatingInputGrid3">City</label>
                </div>
                <!--  city validation -->
                <div class="form-text text-danger" *ngIf="city.errors?.['required'] && (city.touched || city.dirty)">
                  <p i18n><strong>city is Required</strong></p>
                </div>
                <!-- end city valiadtion -->
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" formControlName="state" name="state" id="floatingSelectGrid">
                    <option i18n selected>Egypt</option>
                    <option i18n value="1">Ksa</option>
                    <option i18n value="2">Bahrain</option>
                    <option i18n value="3">Qatar</option>
                  </select>
                  <label i18n for="floatingSelectGrid">State</label>
                </div>
                <!--  state validation -->
                <div class="form-text text-danger" *ngIf="state.errors?.['required'] && (state.touched || state.dirty)">
                  <p i18n><strong>state is Required</strong></p>
                </div>
                <!-- end state valiadtion -->
              </div>
              <div class="col-md">
                <div class="form-floating">
                  <input i18n type="text" class="form-control" formControlName="zipcode" name="zipcode"
                    id="floatingInputGrid4" placeholder="ZIP code" i18n-placeholder value="81611" />
                  <label i18n for="floatingInputGrid4">ZIP code</label>
                </div>
                <!--  zipcode validation -->
                <div class="form-text text-danger"
                  *ngIf="zipcode.errors?.['required'] && (zipcode.touched || zipcode.dirty)">
                  <p i18n><strong>zipcode is Required</strong></p>
                </div>
                <!-- end zipcode valiadtion -->
              </div>
            </div>
          </div>
          <p i18n><strong>Shipping method</strong></p>
          <div class="col-12 mt-3 mb-3">
            <input i18n type="text" class="form-control" id="inputAddress" placeholder="Standard" i18n-placeholder
              disabled />
          </div>
          <h5 i18n><strong>Payment</strong></h5>
          <p i18n class="text-muted">
            All transactions are secure and encrypted.
          </p>
          <div class="bg p-2">
            <div class="col-12 mt-3 mb-3 d-flex">
              <div class="col-12" style="position: relative">
                <input i18n type="text" class="form-control" id="inputAddress" placeholder="Credit Card"
                  i18n-placeholder style="height: 60px; padding-right: 120px" disabled />
                <i class="fa-brands fa-cc-visa mx-3" id="visa" style="
                        position: absolute;
                        top: 50%;
                        right: 90px;
                        transform: translateY(-50%);
                        font-size: 30px;
                      "></i>
                <i class="fa-brands fa-cc-mastercard mx-2" id="master" style="
                        position: absolute;
                        top: 50%;
                        right: 60px;
                        transform: translateY(-50%);
                        font-size: 30px;
                      "></i>
                <i class="fa-brands fa-cc-discover" id="discover" style="
                        position: absolute;
                        top: 50%;
                        right: 30px;
                        transform: translateY(-50%);
                        font-size: 30px;
                      "></i>
              </div>
            </div>
            <div class="m-3">
              <div class="d-flex" style="position: relative">
                <input i18n type="text" class="form-control" formControlName="cardnumber" name="cardnumber"
                  id="inputAddress" placeholder="Card Number" i18n-placeholder style="height: 60px; padding-right: 40px"
                  required />
                <i class="fa-solid fa-lock mx-3" style="
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                      "></i>
              </div>
              <!--  cardnumber validation -->
              <div class="form-text text-danger"
                *ngIf="cardnumber.errors?.['required'] && (cardnumber.touched || cardnumber.dirty)">
                <p i18n><strong>card number is Required</strong></p>
              </div>
              <div class="form-text text-danger"
                *ngIf="cardnumber.errors?.['pattern'] && (cardnumber.touched || cardnumber.dirty)">
                <p i18n>
                  <strong>card number should be 16 digit Number</strong>
                </p>
              </div>
              <!-- end cardnumber valiadtion -->
              <div class="d-flex mt-3">
                <div class="col-12 w-50">
                  <div class="mx-1">
                    <input i18n type="text" style="height: 60px" formControlName="expiredate" name="expiredate"
                      class="form-control" id="exampleInputText1" placeholder="Expiration date (MM/YY)"
                      i18n-placeholder />
                  </div>
                  <!--  expiredate validation -->
                  <div class="form-text text-danger"
                    *ngIf="expiredate.errors?.['required'] && (expiredate.touched || expiredate.dirty)">
                    <p i18n><strong>expiredate is Required</strong></p>
                  </div>
                  <!-- end expiredate valiadtion -->
                </div>
                <div class="col-6 w-50">
                  <div>
                    <input i18n type="password" min="1" max="999" style="height: 60px" formControlName="securitycode"
                      name="securitycode" class="form-control fs" id="exampleInputtextma1" placeholder="Security Code"
                      i18n-placeholder />
                  </div>
                  <!--  securitycode validation -->
                  <div class="form-text text-danger"
                    *ngIf="securitycode.errors?.['required'] && (securitycode.touched || securitycode.dirty)">
                    <p i18n><strong>security code is Required</strong></p>
                  </div>
                  <!-- end securitycode valiadtion -->
                </div>
              </div>
              <div class="form-floating mt-3">
                <input i18n type="text" class="form-control" formControlName="nameoncard" name="nameoncard"
                  id="floatingInputGridon" placeholder="Name on Card" i18n-placeholder value="Karim Mohamed" />
                <label i18n for="floatingInputGrid">Name on Card</label>
              </div>
              <!--  nameoncard validation -->
              <div class="form-text text-danger"
                *ngIf="nameoncard.errors?.['required'] && (nameoncard.touched || nameoncard.dirty)">
                <p i18n><strong>name on card is Required</strong></p>
              </div>
              <div class="form-text text-danger"
                *ngIf="nameoncard.errors?.['minlength'] && (nameoncard.touched || nameoncard.dirty)">
                <p i18n>
                  <strong>name on card must be at least 5 characters long</strong>
                </p>
              </div>
              <div class="form-text text-danger"
                *ngIf="nameoncard.errors?.['maxlength'] && (nameoncard.touched || nameoncard.dirty)">
                <p i18n>
                  <strong>name on card cannot exceed 15 characters</strong>
                </p>
              </div>
              <div class="form-text text-danger"
                *ngIf="nameoncard.errors?.['pattern'] && (nameoncard.touched || nameoncard.dirty)">
                <p i18n>
                  <strong>nameoncard must be in characters</strong>
                </p>
              </div>
              <!-- end nameoncard valiadtion -->
              <div class="form-check mt-3 mb-2">
                <input i18n class="form-check-input" formControlName="billaddress" name="billaddress" type="checkbox"
                  value="" id="flexCheckChecked" checked />
                <label i18n class="form-check-label" for="flexCheckChecked">
                  Use shipping address as billing address
                </label>
              </div>
              <!--  billaddress validation -->
              <div class="form-text text-danger"
                *ngIf="billaddress.errors?.['required'] && (billaddress.touched || billaddress.dirty)">
                <p i18n><strong>billaddress is Required</strong></p>
              </div>
              <!-- end billaddress valiadtion -->
            </div>
          </div>
          <div class="mt-4 mb-5 text-center">
            <button i18n type="submit" (click)="getdata()" class="btn btn-primary col-12 bg1">
              <!-- [disabled]="Checkout.invalid" -->
              Pay now
            </button>
          </div>
        </form>
        <!-- END FORM -->
        <!-- END FORM -->
        <!-- END FORM -->
        <!-- END FORM -->
        <!-- END FORM -->
      </div>
      <!-- <hr class="brd" /> -->
      <div class="d-sm-block d-md-flex col-11 col-md-5 col-lg-5 col-xl-5 gray">
        <div class="row col-12 ">
          <div *ngIf="orders" class="justify-content-between">
            <ng-container *ngFor="let product of orders.products; let i = index">
              <div class="col-12 d-flex m-5 position-relative">
                <img class="img-thumbnail col-3" src="http://localhost:8000/{{
                        product.product.images[0]
                      }}" width="140px" height="70px" />
                <div class="number-badge">{{ product.quantity }}</div>
                <div class="col-8 d-flex justify-content-around">
                  <div>
                    <p class="mt-5">{{ product.product.title[lang] }}</p>
                  </div>
                  <div>
                    <p class="mt-5">
                      {{
                      product.product.price
                      | currency : (lang == "en" ? "USD" : "ج.م")
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="m-5">
              <div class="col-12 d-flex justify-content-between">
                <h5 i18n class="px-3 fs-3"><strong>Total</strong></h5>
                <div class="d-flex justify-content-end">
                  <h5 class="px-3 fs-3">
                    @if(totalPrice) {
                    <strong>
                      {{
                      totalPrice.toFixed(2)
                      | currency : (lang == "en" ? "USD" : "ج.م")
                      }}</strong>
                    }
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
  <div aria-live="polite" aria-atomic="true" class="toast-container d-flex justify-content-center align-items-center"
    id="toastContainer">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="passwordToast">
      <div class="toast-header bg-danger text-white">
        <p i18n class="mr-auto text-center confirmation-message">Contactus</p>
      </div>
      <div class="d-flex flex-row toast-body">
        <p class="message" i18n>
          Thank you for your Coperation Email has been Send to the Support
          team
        </p>
      </div>
    </div>
  </div>
</div>